body{
	background-color: #F7F9F9;
	margin: 5%;
	font-family: 'Open Sans';
}

h4{
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#title{
	padding: 5px; 
	border-color: #93B7BE;
	border: solid 1px;
}

#slate{
	/*background-color: #22B7BE;*/
	 
	border: solid 1px #000000;
	padding: 5%;
}


#tag, a.link{
	font-family: 'Lato';
	font-weight: bold;
	background-color: #93B7BE;
	color: #F7F9F9;
}

a.link{
	border-bottom: #F7F9F9 1px dotted;
}

a.link:hover{
	background-color: #F7F9F9;
	color: #93B7BE;
	border-bottom: #93B7BE 1px dotted;
}

#details{
	font-family: 'Open Sans';
	font-weight: 100;
}
