<!DOCTYPE html>
<html ng-app="blog">
<head>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="modernizr.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="foundation.css">
	<link rel="stylesheet" type="text/css" href="impose.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400' rel='stylesheet' type='text/css'>	
	<script type="text/javascript">
	var present = 0;
	function mycode() {
		var types = ["entreprenuer", "strategist", "collaborator", "writer", "enthusiastic programmer"];
		$(".symbolic").fadeOut(function() {
			present += 1;
			present %= types.length;
		  $(this).text(types[present]);
		}).fadeIn();
	}
	setInterval(mycode, 2500);
	</script>
</head>
<body>
	<div class="row">
		<div class="large-2 columns end" id="title">
			<h4>Siddhartha Gunti</h4>
		</div>
	</div>
	<div class="row">
		<div class="large-2 columns"></div>
		<div class="large-10 columns" id="slate" ng-init="value = 'entreprenuer'" ng-controller="siteController as slate">
			<p><h5>
				I am a <span id="tag" class="symbolic">{{value}}</span>. </br>
				 Currently working at {{slate.details.work.name}} as {{slate.details.work.designation}}, I did {{slate.details.college.designation}} in {{slate.details.college.department}} at {{slate.details.college.name}}.
				 </h5>
			</p>
			<p>
				<h5>
				I <a ng-href="http://{{slate.details.blog.link_value}}" class="link">blog</a>, <a ng-href="http://{{slate.details.git.link_value}}" class="link">code</a> and <a ng-href="http://{{slate.details.read.link_value}}" class="link">read</a>. My recent project was .... More at...
				</h5>
			</p>
			<p>
				<h5>
				I experiment and update my <a ng-href="http://{{slate.details.resume.link_value}}" class="link">resume</a> and <a ng-href="http://{{slate.details.linkedin.link_value}}" class="link">LinkedIn</a> profile. 
				</h5>
			</p>
			<p>
				<h5>
					I respond to <span id="tag">{{slate.details.email.id}}</span>,  and <span id="tag">{{slate.details.mobile.number}}</span>.
				</h5>
			</p>
		</div>
	</div>
</br></br></br></br></br></br>
	<div class="row" ng-controller="siteController as slate">
      	<div class="large-6 columns">
      		<div ng-repeat="detail in slate.details_left">
	      		<span id="tag">{{detail.tag}}</span>
	      		<span id="details" ng-hide={{detail.link}}>{{detail.details}}</span>
	      		<span id="details" ng-show={{detail.link}}><a ng-href="http://{{detail.details}}">{{detail.details | limitTo: 50}}</a></span>
      		</div>
      	</div>
      	<div class="large-6 columns end" >
      		<div ng-repeat="detail in slate.details_right">
	      		<span id="tag">{{detail.tag}}</span>
	      		<span id="details" ng-hide={{detail.link}}>{{detail.details}}</span>
	      		<span id="details" ng-show={{detail.link}}><a ng-href="http://{{detail.details}}">{{detail.details | limitTo: 50}}</a></span>
      		</div>
      	</div>
    </div>

	<div class="row">
	<hr>
	<div class="large-8 columns">
	  <h4>About</h4>
	  <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
	  <i class="fi-social-twitter"></i>
	</div>
	<div class="large-4 columns">
	  <img src="http://placehold.it/400x300&text=[img]">
	</div>
	</div>

	<div class="row">
	<hr>
	<div class="large-12 columns">
	  <h4>Work</h4>
	  <p>Click on each image!</p>

	  <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
	    <li>
	      <a href="http://placehold.it/800x500&text=[img]">
	      <img data-caption="caption here..." src="http://placehold.it/800x500&text=[img]"></a>
	    </li>
	    <li>
	      <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 2 here..." src="http://placehold.it/800x500&text=[img]"></a>
	    </li>
	    <li>
	      <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 3 here..." src="http://placehold.it/800x500&text=[img]"></a>
	    </li>
	    <li>
	      <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 4 here..." src="http://placehold.it/800x500&text=[img]"></a>
	    </li>
	    <li>
	      <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 5 here..." src="http://placehold.it/800x500&text=[img]"></a>
	    </li>       
	    <li>
	      <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 6 here..." src="http://placehold.it/800x500&text=[img]"></a>
	    </li> 
	  </ul>
	</div>
	</div>

	<div class="row">
	<div class="large-12 columns">
	  <hr>
	  <h4>Contact Me</h4>
	  <div class="large-4 columns">
	    Email: <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="177a72577a6e6778656371787b7e783974787a">[email protected]</a><script cf-hash='f9e31' type="text/javascript">
	/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script>
	  </div>
	  <div class="large-4 columns">
	    Twitter: @twitterhandle
	  </div>
	  <div class="large-4 columns">
	    Phone: 555-555-1234
	  </div>
	</div>
	</div>

	<footer class="row">
	  <div class="large-12 columns">
	    <hr/>
	    <div class="row">
	      <div class="large-6 columns">
	        <p>© Copyright no one at all. Go to town.</p>
	      </div>
	      <div class="large-6 columns">
	        <ul class="inline-list right">
	          <li><a href="#">Link 1</a></li>
	          <li><a href="#">Link 2</a></li>
	          <li><a href="#">Link 3</a></li>
	          <li><a href="#">Link 4</a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</footer>
	<div ng-controller="slateController as posts">
		<div ng-repeat="post in posts.posts_content">
			<h1>{{post.title}}</h1>
			<h2>{{post.comment}}</h2>
			<p>{{post.content}}</p>
		</div>
	</div>
</body>
</html>